extends layout

block headers
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/login.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')

block content
    div.container
        div.row
            div.col-sm-6.col-md-4.mx-auto
                h1.text-center.login-title Welcome to ESN!
                    div.account-wall
                        input(type='text', name='username' class='form-control', id='username-input', placeholder='Username',required, autofocus)
                        input(type='password', name='password' class='form-control', id='password-input', placeholder='Password', required)
                        button(class='btn btn-lg btn-primary btn-block', type='submit', id='signin-btn') Sign in
                        span.clearfix
                    #message
                    if message
                        h1.text-center.error-message #{message}

    #register-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Confirm Your Registration
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    | Want to create a new account?
                .modal-footer
                    button.btn.btn-primary#register-btn(type='button') Yes
                    button.btn.btn-secondary(type='button', data-dismiss='modal') No
