extends layout

block headers
    link(rel='stylesheet', href='/stylesheets/login.css')
    script(src='/javascripts/md5.min.js')
    script(src='/javascripts/login.js')

block content
    div.container
        div.row
            div.col-sm-6.col-md-4.mx-auto
                h1.text-center.login-title Welcome to ESN!
                    div.account-wall
                        input(type='text', name='username' class='form-control', id='username-input', placeholder='Username',required, autofocus)
                        input(type='password', name='password' class='form-control', id='password-input', placeholder='Password', required, autocomplete="off")
                        button(class='btn btn-lg btn-primary btn-block', type='submit', id='signin-btn') Sign in
                        span.clearfix

                #wrong-passwd-alert.alert.alert-warning.alert-dismissible.collapse.center-block(role='alert')
                    strong wrong password
                    button.close#wrong-passwd-close-alert(type='button', aria-label='Close')
                        span(aria-hidden='true') ×

                #invalid-passwd-alert.alert.alert-warning.alert-dismissible.collapse.center-block(role='alert')
                    strong password too short!
                    button.close#invalid-passwd-close-alert(type='button', aria-label='Close')
                        span(aria-hidden='true') ×

                #invalid-username-alert.alert.alert-warning.alert-dismissible.collapse.center-block(role='alert')
                    strong username invalid!
                    button.close#invalid-username-close-alert(type='button', aria-label='Close')
                        span(aria-hidden='true') ×


    #register-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='register-modal-label', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#register-modal-label.modal-title Confirm Your Registration
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    | Want to create a new account?
                .modal-footer
                    button.btn.btn-primary#register-btn(type='button') Yes
                    button.btn.btn-secondary(type='button', data-dismiss='modal') No
