extends layout

block headers
    link(rel="stylesheet", href="/stylesheets/home.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js")
    script(src='/javascripts/connection.js')
    script(type='text/javascript').
        var username = '#{user.username}';
        var displayname = '#{user.displayname}';

block content
    // this button will be removed afterwards...
    button.btn.btn-primary(type='button', data-toggle='modal', data-target='#welcome-modal')
      | Launch welcome modal

    #welcome-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='welcome-label', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#welcome-label.modal-title Welcome to ESN!
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            p In ESN, Status is important...
            br
            button.btn.btn-success Green
            p I am OK
            button.btn.btn-warning Yellow
            p I need some help, but this is not a life threatening emergency
            button.btn.btn-danger Red
            p I need help now! This is a life threatening emergency!
            button.btn.btn-info Undefined
            p I haven't set a status yet
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close

    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
        ul.navbar-nav.mr-auto
            a.navbar-brand(href="#") Emergency Social Network
            li.nav.nav-item
                a.nav-link#more_history(href="#") Load More History
        a.btn.btn-light(href="/signout") sign out
    
    div.container
        div.m-2.mx-auto.card-group
            .card.msg-background.user-content.d-none.d-md-block
                .card-body
                    h4.card-title online users
                    ul.list-group.list-group-flush#online-users-list
            .card.msg-background
                .card-body
                    .msg-content.msg-content#chat-list
                .card-footer.msg-footer
                    form.form-horizontal(action="#")
                        .input-group
                            input.form-control#msg_input(type="text", name="message", placeholder="text message!")
                            span.input-group-btn
                                button.btn.btn-success#msg_submit(type="button") Submit
    if isNewMember
        script.
            var newMember = true;
    else
        script.
            var newMember = false;

