.alert.alert-warning.alert-dismissible.fade(role="alert")
    strong Warning!
    p#content Logging out of the system...
    button.button(data-dismiss="alert", aria_label="Close")
        span(aria-hidden="true") &times;
