//- link(rel="stylesheet", href="/stylesheets/components.css")

#logout-alert.modal.fade(tabindex='-1', role='dialog', aria-labelledby='show-message-modal', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5 Log out
            .modal-body
                p#content Logging out of the system...
            .modal-footer
                a.btn.btn-secondary(type='button', data-dismiss='modal', href="/signout") Logout