link(rel="stylesheet", href="/stylesheets/components.css")
#logout-alert.alert.alert-warning.alert-dismissible.alert-fixed(role="alert" style="display:none;")
    strong Warning!
    p#content Logging out of the system...
    button.button.close(onclick="logout()", data-dismiss="alert", aria_label="Close")
        span(aria-hidden="true") &times;
