link(rel="stylesheet", href="/stylesheets/navbar.css")

nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
    ul.navbar-nav.mr-auto
        a.navbar-brand(href="/") ESN
        li.nav.nav-item
            a.nav-link#nav_users(href="/users") Users
            a.nav-link#nav_announcements(href="/announcements") Announcements
            a.nav-link#nav_guides(href="/guides") Guides
            a.nav-link#nav_resource(href="/resourceMap") Resource Map 
            a.nav-link#nav_emergency(href="/emergency_message") Emergency Message
    .mx-auto
        form#navbar_search_form.form-inline(hidden, action="#")
            input.form-control.mr-sm-2(type="search" placeholder="Search" aria-label="Search")
            button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search

    div.dropdown
        button#user_profile.btn.btn.secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-hasgroup='true', aria-expanded='false')
            | #{user.displayname}
        .drop-menu.dropdown-menu(aria-labelledby='dropdownMenuButton')
            a.dropdown-item(href='/users/' + user.username) profile
            a.dropdown-item(href="/signout") sign out
