#show_message_modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='show-message-modal', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#welcome-label.modal-title Search Result
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            #message_modal_body.modal-body
            .modal-footer
                button#show_message_modal_more_button.btn.btn-primary(type='button') More
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
