extends layout

block headers
    link(rel="stylesheet", href="/stylesheets/main.css")
    script(type='text/javascript').
        var username = '#{user.username}';
        var displayname = '#{user.displayname}';

block content
    
    include components/navbar.pug
    
    div.container
        div.m-2.mx-auto.card
            .alert.alert-danger ANNOUNCEMENT: 8.0 earthquake at SF, SAN JOSE
            .alert.alert-danger ANNOUNCEMENT: 8.0 earthquake at SF, SAN JOS
            .alert.alert-danger ANNOUNCEMENT: 8.0 earthquake at SF, SAN JOS
            .alert.alert-danger ANNOUNCEMENT: 8.0 earthquake at SF, SAN JOS
