extends layout

block headers
    link(rel="stylesheet", href="/stylesheets/main.css")
    script(type='text/javascript').
        var username = '#{user.username}';
        var displayname = '#{user.displayname}';

block content
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
        ul.navbar-nav.mr-auto
            a.navbar-brand(href="/") ESN
        a.btn.btn-light(href="#") #{user.displayname}
    
    div.container
        div.m-2.mx-auto.card
            .alert.alert-danger ANNOUNCEMENT: 8.0 earthquake at SF, SAN JOSE
            .alert.alert-danger ANNOUNCEMENT: 8.0 earthquake at SF, SAN JOS
            .alert.alert-danger ANNOUNCEMENT: 8.0 earthquake at SF, SAN JOS
            .alert.alert-danger ANNOUNCEMENT: 8.0 earthquake at SF, SAN JOS
