extends layout

block headers
    link(rel='stylesheet', href='/stylesheets/login.css')

block content
    div.container
        div.row
            div.col-sm-6.col-md-4.mx-auto
                h1.text-center Emergency Social Network
                    div.account-wall
                        form(action='/login', method='GET')
                            button(id='join-community', class='btn btn-lg btn-primary btn-block', type='submit') Join Community
                        span.clearfix

