
@media (min-width: 800px) {
    .card-content {
        max-width: 800px;
    }
}

.create-announcement-content {
    min-height: 800px;
}

#select_box {
    //position: absolute;
    //left: 20px;
    float: right;
    height: 30px;
    width: 300px;
    text-align: center;
    margin: 20px;
}
