.page-background,
body {
    background-color: #f6f6f6;
}

.user-content {
    height: 600px;
    overflow-y: auto;
}

.edit-profile-btn {
    position: absolute;
    right: 0px;
}

@media (min-width: 800px) {
    .card-content {
        max-width: 800px;
    }
}

#userlist-card-body, #online-userlist {
    text-align: center;
}

#userlist-div {
    margin: 0 auto;
    width: 300px;
}

.status-badge {
    position: absolute;
    left: 0px;
}

